.enhancement-link-marker, .enhancement-image-marker {
    color: var(--g-linkColor) !important;
    text-decoration: underline;
}

span.enhancement-joplin-icon {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1536 1792' xmlns='http://www.w3.org/2000/svg'><path d='M373.834 128C168.227 128 0 296.223 0 501.834v788.336C0 1495.778 168.227 1664 373.834 1664h788.336c205.608 0 373.83-168.222 373.83-373.83V501.834C1536 296.224 1367.778 128 1162.17 128zm397.222 205.431h417.424a7.132 7.132 0 0 1 7.132 7.133v132.552c0 4.461-3.619 8.073-8.077 8.073h-57.23c-24.168 0-43.768 19.338-44.284 43.374v2.377h-.017v136.191h-.053l-.466 509.375c-5.02 77.667-39.222 149.056-96.324 201.046-60.28 54.834-141.948 85.017-229.962 85.017-12.45 0-25.208-.61-37.907-1.785-92.157-8.682-181.494-48.601-251.662-112.438-71.99-65.517-117.147-150.03-127.164-238-11.226-98.763 23.42-192.783 95.045-257.937 81.99-74.637 198.185-101.768 316.613-75.704 5.574 1.227 9.55 6.282 9.55 11.997v199.52c-.199 2.625-1.481 6.599-8.183 2.896-.663-.365-1.194-.511-1.653-.531-21.987-10.587-45.159-17.57-68.559-19.916-.38-.04-.757-.124-1.138-.163-.537-.048-1.034-.033-1.556-.075-4.13-.354-8.183-.517-12.203-.58-.87-.011-1.771-.127-2.641-.127-.486 0-.951.05-1.437.057-1.464.011-2.886.115-4.33.163-2.76.102-5.497.211-8.182.448-.273.024-.547.07-.835.097-25.509 2.4-47.864 11.104-65.012 25.47-.954.802-1.974 1.53-2.9 2.36a1.34 1.34 0 0 1-.168.146c-23.96 21.8-34.881 53.872-30.726 90.316 4.62 40.737 26.94 81.156 62.841 113.823 35.908 32.67 80.335 52.977 125.113 57.186 35.118 3.36 66.547-3.919 89.899-20.461a97.255 97.255 0 0 0 9.365-7.501c2.925-2.661 5.569-5.5 8.086-8.416.3-.348.672-.673.975-1.024 8.253-9.864 14.222-21.067 17.996-33.148.639-2.034 1.051-4.148 1.564-6.227.381-1.563.81-3.106 1.112-4.693.555-2.784.923-5.632 1.253-8.49.086-.709.183-1.414.237-2.128.492-4.893.693-9.858.55-14.91h.013V521.623c-2.01-22.626-20.78-40.434-43.928-40.434h-57.23a8.071 8.071 0 0 1-8.077-8.073V340.564a7.132 7.132 0 0 1 7.136-7.133z'/></svg>");
    -webkit-mask-repeat: no-repeat;
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--g-linkColor);
    margin-left: 2px;
}

span.enhancement-www-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='1.066' y1='10.5632' x2='30.9401' y2='21.4365'%3E%3Cstop offset='0' style='stop-color:%232183BF'/%3E%3Cstop offset='1' style='stop-color:%2319086D'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M6.5,6.2c0.4,0.3,0.9,0.7,1.4,0.9C7.6,7.8,7.4,8.4,7.2,9h1.9c0.1-0.3,0.2-0.6,0.3-1c0.9,0.4,1.8,0.7,2.8,1h7.5 c1-0.2,1.9-0.6,2.8-1c0.1,0.3,0.2,0.6,0.3,1h1.9c-0.2-0.6-0.4-1.2-0.6-1.8c0.5-0.3,0.9-0.6,1.4-0.9C26.3,7.1,27.1,8,27.7,9h2.7 C27.8,3.7,22.3,0,16,0C9.7,0,4.2,3.7,1.6,9h2.7C4.9,8,5.7,7.1,6.5,6.2z M24.1,5.1c-0.2,0.2-0.5,0.3-0.8,0.5c-0.3-0.6-0.7-1.1-1-1.6 C23,4.3,23.5,4.7,24.1,5.1z M21.8,6.4c-0.8,0.4-1.6,0.7-2.5,0.9c-0.2-1.7-0.6-3.4-1.1-4.7C19.6,3.3,20.8,4.7,21.8,6.4z M15.8,2.4 c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.4,0.7,1,2.5,1.4,5.2c-0.5,0.1-1,0.1-1.5,0.1c-0.5,0-1,0-1.5-0.1C14.9,4.9,15.4,3.1,15.8,2.4 z M13.8,2.7c-0.5,1.3-0.8,2.9-1.1,4.6c-0.8-0.2-1.7-0.5-2.5-0.9C11.2,4.7,12.4,3.4,13.8,2.7z M9.7,3.9C9.3,4.4,9,5,8.6,5.6 C8.4,5.4,8.1,5.3,7.9,5.1C8.5,4.7,9.1,4.3,9.7,3.9z M25.5,25.8c-0.4-0.3-0.9-0.7-1.4-0.9c0.2-0.6,0.5-1.2,0.6-1.8h-1.9 c-0.1,0.3-0.2,0.7-0.3,1c-0.9-0.4-1.8-0.7-2.8-1h-7.5c-1,0.2-1.9,0.5-2.8,1c-0.1-0.3-0.2-0.6-0.3-1H7.2c0.2,0.6,0.4,1.2,0.6,1.8 c-0.5,0.3-0.9,0.6-1.4,0.9C5.7,24.9,4.9,24,4.3,23H1.6c2.6,5.3,8.1,9,14.4,9s11.8-3.7,14.4-9h-2.7C27.1,24,26.3,24.9,25.5,25.8z M7.9,26.9c0.2-0.2,0.5-0.4,0.7-0.5c0.3,0.6,0.7,1.1,1,1.6C9.1,27.7,8.5,27.4,7.9,26.9z M10.3,25.6c0.8-0.4,1.6-0.7,2.5-0.9 c0.2,1.7,0.6,3.4,1.1,4.6C12.4,28.6,11.2,27.3,10.3,25.6z M16.2,29.6c-0.1,0-0.1,0-0.2,0s-0.1,0-0.2,0c-0.4-0.7-1-2.5-1.4-5.2 c0.5-0.1,1-0.1,1.5-0.1c0.5,0,1,0,1.5,0.1C17.1,27.1,16.6,28.9,16.2,29.6z M18.2,29.4c0.5-1.3,0.8-2.9,1.1-4.7 c0.9,0.2,1.7,0.5,2.5,0.9C20.8,27.3,19.6,28.7,18.2,29.4z M22.3,28.1c0.4-0.5,0.7-1.1,1-1.6c0.3,0.2,0.5,0.3,0.8,0.5 C23.5,27.4,23,27.7,22.3,28.1z M4.8,19.2l0.6-2.2c0.2-0.6,0.3-1.2,0.4-2h0c0.1,0.8,0.2,1.4,0.4,2l0.6,2.2h1.9l1.9-6.4H8.7l-0.5,2.5 c-0.1,0.7-0.3,1.4-0.4,2.2h0c-0.1-0.7-0.3-1.4-0.5-2.2l-0.6-2.5H5.1l-0.7,2.6c-0.2,0.6-0.3,1.4-0.5,2.1h0c-0.1-0.7-0.2-1.4-0.4-2.1 l-0.5-2.6h-2l1.8,6.4L4.8,19.2L4.8,19.2z M18.3,15.3c-0.1,0.7-0.3,1.4-0.4,2.2h0c-0.1-0.7-0.3-1.4-0.5-2.2l-0.6-2.5h-1.6l-0.7,2.6 c-0.2,0.6-0.3,1.4-0.5,2.1h0c-0.1-0.7-0.2-1.4-0.4-2.1l-0.5-2.6h-2l1.8,6.4h1.9l0.6-2.2c0.2-0.6,0.3-1.2,0.4-2h0 c0.1,0.8,0.2,1.4,0.4,2l0.6,2.2h1.9l1.9-6.4h-1.9L18.3,15.3z M28.4,15.3c-0.1,0.7-0.3,1.4-0.4,2.2h0c-0.1-0.7-0.3-1.4-0.5-2.2 l-0.6-2.5h-1.6l-0.7,2.6c-0.2,0.6-0.3,1.4-0.5,2.1h0c-0.1-0.7-0.2-1.4-0.4-2.1l-0.5-2.6h-2l1.8,6.4H25l0.6-2.2 c0.2-0.6,0.3-1.2,0.4-2h0c0.1,0.8,0.2,1.4,0.4,2l0.6,2.2H29l1.9-6.4H29L28.4,15.3z'/%3E%3C/svg%3E%0A");
    -webkit-mask-repeat: no-repeat;
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--g-linkColor);
    margin-left: 2px;
}

i.enhancement-link-marker-icon, i.enhancement-image-marker-icon {
    font-family: 'Font Awesome 5 Free' !important;
    font-size: small;
    margin-right: 0.2em;
}

span.enhancement-image-size-text {
    color: gray;
    font-size: smaller;
    margin-left: 0.2em;
}

.enhancement-footnote-marker {
    font-size: smaller;
    background-color: lightgrey;
    vertical-align: super;
    border-radius: 3px;
    padding: 0 2px;
}

.enhancement-block-image-marker-line-widget img,
.enhancement-plantuml-block-marker-line-widget img {
    max-width: 100%;
}

.enhancement-block-image-marker-line-widget figure {
    margin: 0;
    text-align: center;
}

.enhancement-block-image-marker-line-widget figcaption {
    text-align: center;
    opacity: 0.55;
}

.enhancement-block-link-marker-line-widget {
    max-width: 100%;
    text-align: center;
}

.enhancement-block-link-marker-span-line,
.enhancement-block-image-marker-span-line,
.enhancement-code-block-marker-span-line,
.enhancement-plantuml-block-marker-line {
    display: none;
}

a.enhancement-link-marker-text {
    cursor: pointer;
}

.enhancement-block-link-marker-line-widget audio {
    min-width: 80%;
}

.enhancement-block-link-marker-line-widget video {
    max-width: 100%;
}

.enhancement-link-user-label {
    font-style: italic;
}

.enhancement-code-block-marker-line-widget div {
    font-size: small;
    white-space: pre-wrap;
    background-color: #333333;
    padding: 0.8em;
    color: white;
    border-radius: 0.4em;
    line-height: initial;
}

.enhancement-link-block-text {
    text-align: left;
}

.enhancement-link-block-icon {
    font-size: 2.2em;
    vertical-align: middle;
    float: left;
    margin: 0 0.8em 0 0.5em;
}

.enhancement-link-block {
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 4px;
    text-align: unset;
}

.enhancement-link-block-url {
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.enhancement-link-block-title {
    font-size: 1.25em;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.enhancement-link-block i.enhancement-link-marker-icon.fas.fa-link {
    font-size: 1em;
}

.enhancement-link-block-title-warning,
.enhancement-link-block-url-warning {
    color: red;
}
