/* from zettlr */
.CodeMirror-sizer input[type="checkbox"] {
    vertical-align: middle;
    margin: 4px 0.6em 4px 0px;
    width: 1.4em;
    height: 1.4em;
    appearance: none;
    border: 1px solid #acacac;
    border-radius: 1.4em;
}

/* from obsidian */
.CodeMirror-sizer input[type="checkbox"]:checked {
    background-color: dodgerblue;
    border: 1px solid transparent;
    background-position: 44% 55%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}

.heading-tag {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    transition: 0.2s all ease;
    color: #dcdcdc;
    margin-left: -1.2em;
}

.heading-tag:hover {
    color: #787881;
    background-color: #dcdcdc;
}

div.application-menu {
    background-color: rgba(235, 235, 235, 0.98);
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 6px;
    max-width: 110px;
    position: fixed;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .3);
    min-width: 50px;
}

div.application-menu div.menu-item {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin: 5px;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 20px auto 50px;
    grid-template-rows: 100%;
    grid-template-areas: "status label after";
}

div.application-menu div.menu-item:not(.separator):not(.disabled):hover {
    background-color: rgb(200, 200, 200);
    border-radius: 4px;
}

div.application-menu div.menu-item div.status {
    grid-area: status;
    text-align: center;
}

div.application-menu div.menu-item div.after-element {
    grid-area: after;
    text-align: right;
}

div.application-menu div.menu-item div.label {
    grid-area: label;
    text-align: left;
}

div.application-menu div.menu-item.separator {
    height: 1px;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.cm-enhancement-finished-task {
    text-decoration: line-through;
    opacity: 0.85;
}

.table-helper {
    border: 1px solid #e6e6e6;
}

.table-helper tr:nth-child(odd) {
    background-color: #f4f5f5;
}

table.table-helper td {
    padding: 6px;
    border: 1px solid #E6E6E6;
}

table.table-helper tr p {
    margin: 0;
}
