.CodeMirror-sizer {
    padding-left: 1em;
}

.CodeMirror-linebackground.admonition {
    border-left: 0.35em solid blue;
    background-color: transparent;
    margin-left: -0.8em;
}

.CodeMirror-linebackground.admonition.header {
    background-color: rgba(68,138,255,.1);
}

.cm-admonition-type, .cm-admonition-end {
    color: blue;
}

.cm-admonition-type.cm-warning, .cm-admonition-end.cm-warning {
    color: orange;
}

.admonition.header {
    border-radius: 0.25em 0.25em 0 0;
}

/* From joplin-plugin-admonition */

.admonition.header.note {
    background-color: rgba(68,138,255,.1);
}

.admonition.header.abstract {
    background-color: rgba(0,176,255,.1);
}

.admonition.header.info {
    background-color: rgba(0,184,212,.1);
}

.admonition.header.tip {
    background-color: rgba(0,191,165,.1);
}

.admonition.header.success {
    background-color: rgba(0,200,83,.1);
}

.admonition.header.question {
    background-color: rgba(100,221,23,.1);
}

.admonition.header.warning {
    background-color: rgba(255,145,0,.1);
}

.admonition.header.failure {
    background-color: rgba(255,82,82,.1);
}

.admonition.header.danger {
    background-color: rgba(255,23,68,.1);
}

.admonition.header.bug {
    background-color: rgba(245,0,87,.1);
}

.admonition.header.example {
    background-color: rgba(124,77,255,.1);
}

.admonition.header.quote {
    background-color: hsla(0,0%,62%,.1);
}

.admonition.note {
    border-color: #448aff;
}

.cm-admonition-type.cm-note, .cm-admonition-end.cm-note {
    color: #448aff;
}

.admonition.abstract {
    border-color: #00b0ff;
}

.cm-admonition-type.cm-abstract, .cm-admonition-end.cm-abstract {
    color: #00b0ff;
}

.admonition.info {
    border-color: #00b8d4;
}

.cm-admonition-type.cm-info, .cm-admonition-end.cm-info {
    color: #00b8d4;
}

.admonition.tip {
    border-color: #00bfa5;
}

.cm-admonition-type.cm-tip, .cm-admonition-end.cm-tip {
    color: #00bfa5;
}

.admonition.success {
    border-color: #00c853;
}

.cm-admonition-type.cm-success, .cm-admonition-end.cm-success {
    color: #00c853;
}

.admonition.question {
    border-color: #64dd17;
}

.cm-admonition-type.cm-question, .cm-admonition-end.cm-question {
    color: #64dd17;
}

.admonition.warning {
    border-color: #ff9100;
}

.cm-admonition-type.cm-warning, .cm-admonition-end.cm-warning {
    color: #ff9100;
}

.admonition.failure {
    border-color: #ff5252;
}

.cm-admonition-type.cm-failure, .cm-admonition-end.cm-failure {
    color: #ff5252;
}

.admonition.danger {
    border-color: #ff1744;
}

.cm-admonition-type.cm-danger, .cm-admonition-end.cm-danger {
    color: #ff1744;
}

.admonition.bug {
    border-color: #f50057;
}

.cm-admonition-type.cm-bug, .cm-admonition-end.cm-bug {
    color: #f50057;
}

.admonition.example {
    border-color: #7c4dff;
}

.cm-admonition-type.cm-example, .cm-admonition-end.cm-example {
    color: #7c4dff;
}

.admonition.quote {
    border-color: #9e9e9e;
}

.cm-admonition-type.cm-quote, .cm-admonition-end.cm-quote {
    color: #9e9e9e;
}

span.cm-katex-marker-open, span.cm-katex-marker-close {
    color: burlywood;
}

span.cm-overlay.cm-enhancement-image-size {
    color: gray;
}

.cm-overlay.cm-enhancement-katex-inline-math {
    color: gray !important;
}

pre.footnote.CodeMirror-line {
    font-size: smaller;
    opacity: 0.75;
    padding-left: 2em !important;
    padding-bottom: 5px;
}

.cm-admonition-type, .cm-admonition-end {
    opacity: 0.35;
}
